
.hamburger-menu {
            cursor: pointer;
            padding: 10px;
        }



        .welcome-section {
            min-height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
        }

        @media (max-width: 768px) {
            .welcome-section {
                padding: 1rem;
            }
        }

        #nav-expand {
            background-color: #333;
            color: #eee;
            display: block;
            left: 0;
            top: 0;
            padding: 8px 12px;
            position: absolute;
            text-decoration: none;
            transition: .5s linear;
            user-select: none;
            -webkit-user-drag: none;
        }

        #nav-expand:hover {
            background-color: #369;
            color: #fff;
        }

        .icon {
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            height: 12px;
            width: 12px;
        }

        .icon-menu {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAB5JREFUKJFj/P///38GEgATKYoHKWAc9TQRgGRPAwD0IAv+FT8LPwAAAABJRU5ErkJggg==');
        }
        .blog-welcome {
             opacity: 0; /* Start invisible */
             transform: translateY(20px); /* Start slightly lower */
             transition: opacity 0.8s ease, transform 0.8s ease; /* Transition effects */
      }


        .blog-welcome.visible {
            opacity: 1; /* Fully visible */
            transform: translateY(0); /* Move to original position */
        }
        .top-left-div {

    top: 5%; /* 5% from the top of the viewport */
    left: 2%; /* 5% from the left of the viewport */
    padding: 2%; /* Padding inside the div */




}
.glow {
  font-size: 40px;
  color: white;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}




